streamlit>=1.36
pandas>=2.0
numpy>=1.25
plotly>=5.22
vaderSentiment>=3.3.2
python-dateutil>=2.9
pyvis>=0.3.2
networkx>=3.2
pyarrow>=15
# Sentiment local (HF)
transformers>=4.40
torch>=2.2
langdetect>=1.0.9
sentencepiece>=0.1.99
emoji>=2.10.1
scipy>=1.11